<nav class="navbar fixed-bottom bg-dark">
    <div class="container-fluid">
        <i id="copyright">&copy; Copyright 2022 - Ouzin von Wahl - #301229915 - Centennial College - COMP229</i>
    </div>
</nav>