<h1 class="title">
    <%= title %>
</h1>

<p class="lead text-center">Ouzin von Wahl</p>



<div class="container text-center">
  <div class="thin-width">
    <img src="/content/images/portrait.jpg" class="rounded col"alt="portrait">
    <p>I currently reside in London, Ontario with my lovely wife and our overly energetic golden retriver. As a current student at Centennial College studying computer science, I have a natural passion for all technology related. I've used computers since I was 8 years old, and I don't plan on changing that anytime soon! I'm very interested in <b class="highlight">full-stack development,</b> since it includes many different types of programming, as well as front-end development because I like making things look good! I currently have a side project in the form of a retail website that I use to apply my knowledge learned from school and outside sources. Information regarding my projects can be found <a class="highlight" href="/projects">here.</a> </p>
  </div>
</div>

<h3 class="text-center"><a target="_blank" href="/content/files/lorem-ipsum-resume.pdf" class="title">My resume</a></h3>
