<h1 class="title">
    <%= title %>
</h1>

<!-- Contact form w/ submit -->
<div class="container">
    <div class="row">
        <div class="col thin-width">
            <div class="mb-3">
                <label for="firstNameInput" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstNameInput" placeholder="Jane">
              </div>
              <div class="mb-3">
                <label for="lastNameInput" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastNameInput" placeholder="Doe">
              </div>
              <div class="mb-3">
                <label for="phoneNumberInput" class="form-label">Phone number</label>
                <input type="number" class="form-control" id="phoneNumberInput" placeholder="123-456-7890">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="messageInput" class="form-label">Message</label>
                <textarea class="form-control" id="messageInput" rows="3"></textarea>
              </div>
              <div class="mb-3 text-center">
                <button id="submitBtn">Submit</button>
              </div>
        </div>
        </div>
    </div>
</div>
