<h1 class="title">
    <%= title %>
</h1>

<!-- Services -->
<div class="container text-center">
    <h3 class="lead col"><i class="fa-solid fa-terminal"></i> Database Administration</h3>
    <h3 class="lead col"><i class="fa-solid fa-file"></i> Client side development</h3>
    <h3 class="lead col"><i class="fa-solid fa-gears"></i> Full-Stack Development</h3>
    <h3 class="lead col"><i class="fa-solid fa-bars"></i> Mobile Applications</h3>
    <h3 class="lead col"><i class="fa-solid fa-cubes"></i> Graphic Design</h3>
</div>